<div class="container">
    <div class="site-about">
        <p>

            Ежегодно мы проводим несколько крупных мероприятий, например, Рождественский благотворительный бал, который 
            проходит в конце декабря.  Участники проекта  представляют свои танцевальные номера, лучшие из лучших получают 
            подарки от Деда Мороза и Снегурочки, гости праздника имеют возможность принять участие в развлекательных интерактивах, 
            конкурсах фестиваля и получить ценные призы от наших партнеров и спонсоров! 
        </p>
 
        <p>
            В 2020 году вас ждут не менее интересные мероприятия - открытые танцевальные мастер-классы, квартирники, 
            III инклюзивный фестиваль «Живи танцуя» подробности тут. 
        </p>
        
        <p>
            В 2018 году «Движение – это жизнь» выиграл грант от фонда Президентских грантов, предоставленного на развитие 
            гражданского общества Президентом Российской Федерации. Благодаря этому наш проект стал шире и мы смогли привлечь 
            многих детей с инвалидностью к участию в танцах.
        </p>
        
        <p>
            Благодаря этому по реализации  проекта мы достигли  следующих результатов:
        </p>    

        <p>
            -проведение 300 и более танцевальных занятий (групповых и индивидуальных); 
            -привлечение 60 участников в  танцы;
            -700 гостей мы приняли на наших мероприятиях (Танцевальный фестиваль и Бал);
            -80 добровольцев были с нами в течение этого сезона;
            -проведение 30 творческих/танцевальных мастер -классов;
            -4 федеральные и региональные СМИ засняли о нас небольшие сюжетные ролики: «Россия 1», «Санкт-Петербург», «канал 78», интернет-канал «Город +»;
            -4 крупных интернет-изданий поддержали нас: «Бумага», «Такие дела», «KudaGo», «Сарафан».
        </p>

        <p>

            Так мы смогли продвинуться и сделать еще больше хорошего и доброго для детей и молодежи  с инвалидностью 
            г. Санкт-Петербурга, благодарим всех партнеров, которые смогли поддержать наш проект и вместе с нами развить 
            инклюзивное движение города.
        </p>
        <p>
           Ждем вас на наших мероприятиях!
        </p>
        
        <p>
        <h3>
           Контакты
        </h3>
        <p>

        <ul class="without-bullet">
            <li>
                <a href="mailto:inclusive.d@yandex.ru">
                    <i class="fa fa-envelope"></i> inclusive.d@yandex.ru
                </a>
            </li>
            <li>
                <i class="fa fa-phone"></i> ‭+7(911)761-71-15‬
            </li>
            <li>
                <a href="https://vk.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-vk"></i> dvij_zhizn
                </a>
            </li>
            <li>
                <a href="https://instagram.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-instagram"></i> dvij_zhizn
                </a>
            </li>
        </ul>

        </p>       
        <p>
            #inclusive_бал #движениеэтожизнь
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/tagir.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/santa.jpg">
        </div>

        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/fest.jpg">
    </div>

        <p>
            #движениеэтожизнь #ядоброволец #яхореограф
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/nastya.jpg">
    </div>

        <hr style="margin-bottom: 30px; margin-top: 20px">
    </div>
</div>
