<div class="container">
    <div class="site-about">
        <p>
            Победа в конкурсе: в 2018 году «Движение – это жизнь»
            <a target="_blank"
               href="https://президентскиегранты.рф/public/application/item?id=46ED6218-785E-4485-9B0A-E6B511C09A0D">выиграл</a>
            грант от фонда Президентских грантов,
            предоставленного на развитие гражданского общества Президентом Российской Федерации.
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/putin.png">
        </div>
        <p>
            Это достигнуто благодаря работе всей команды: хореографов, волонтеров, родителей и детей! Спасибо за
            доверие!
            Наш проект станет шире и впереди нас ожидает только лучшее!
        </p>
        <p>
            Теперь у нас есть независимая площадка,
            где проходят танцевальны занятия для всех детей с инвалидностью г.Санкт-Петербурга без привязки к району:
        </p>
        <p>ЗАНЯТИЯ ПРОХОДЯТ ПО АДРЕСУ: м. Старая деревня, по адресу ул. Мебельная 2. А., 3 раза в неделю:</p>

        <ul>
            <li>
                понедельник/четверг (танцы) с 18.00 до 19.00
            </li>
            <li>
                среда (танцевальная лаборатория) с 10.00 до 11.00.
            </li>
        </ul>
        <p>
            Ждём вас и ваших детей, ведь в танцах все равны! По всем вопросам: Дарья Матвеева + 7 952 356 93 01.
        </p>

        <p>
            #фондпрезидентскихгрантов #грантпрезидента #движениеэтожизнь
        </p>

        <p>
            22 декабря мы провели грандиозное мероприятие - Рождественский благотворительный бал,
            нас посетило 350 человек! Участники проекта представили танцевальные номера, гости праздника
            поучаствовали в развлекательных интерактивах, кружились в вальсе, главное - пролечили свои долгожданные
            призы и
            подарки от Деда Мороза и Снегурочки! Как это было?
        </p>
        <p>
            Читайте подробнее <a target="_blank"
                                 href="https://vk.com/@dvij_zhizn-itogi-nashego-grandioznogo-meropriyatiya-my-prinyali-350-che">здесь</a>.
        </p>
        <p>
            #inclusive_бал #движениеэтожизнь
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/tagir.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/santa.jpg">
        </div>
        <p>
            В 2019 году вас ждут не менее интересные мероприятия - открытые танцевальные мастер-классы, танцевальный
            квартирник проекта и конечно всеми любимый - II инклюзивный фестиваль «Живи танцуя».
        </p>

        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/fest.jpg">
        </div>

        <p>
            Следите за всеми новостями проекта на сайте и в социальных сетях:
        <ul class="without-bullet">
            <li>
                <a href="https://vk.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-vk"></i> dvij_zhizn
                </a>
            </li>
            <li>
                <a href="https://instagram.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-instagram"></i> dvij_zhizn
                </a>
            </li>
        </ul>

        <p>
            #движениеэтожизнь #ядоброволец #яхореограф
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/nastya.jpg">
        </div>


        <hr style="margin-bottom: 30px; margin-top: 20px">
    </div>
</div>
