<div class="wrap">

    <nav
        *ngIf="link !== ''"
        class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center" id="navbarMain">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-brand" routerLink="">
                        <img height="20" alt="Паритет" src="/assets/images/logo_paritet.png">
                    </a>
                </li>
                <li
                    class="nav-item"
                    *ngFor="let item of items">
                    <a
                        class="nav-link"
                        routerLinkActive="active"
                        [routerLink]="item.link">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="/assets/images/logo_paritet.png" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">Санкт-Петербургская региональная общественная организация &laquo;Развитие
                    гражданского общества &laquo;Паритет&raquo;</small>
                <small class="d-block mb-3 text-muted">&copy; 2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Документы</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/assets/docs/paritet_charter.pdf" download>Устав</a></li>
                    <li><a class="text-muted" href="/assets/docs/paritet_EGRUL.pdf" download>ЕГРЮЛ</a></li>
                    <li><a class="text-muted" href="/assets/docs/paritet_registration.pdf" download>Свидетельство о
                        регистрации</a></li>
                    <li><a class="text-muted" href="/assets/docs/paritet_tax.pdf" download>Свидетельство о постановке на
                        налоговый учет</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Реквизиты</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-muted">ИНН: 7802652490</li>
                    <li class="text-muted">КПП: 780201001</li>
                    <li class="text-muted">БИК: 044525974</li>
                    <li class="text-muted">р/сч: 40703810700000706751</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Контакты</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a
                            class="text-muted"
                            fragment="contact"
                            routerLink="movement">Движение — это жизнь</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
