<div class="container">
    <div class="site-about">

        <p>Этой весной наша команда запустила новый проект – инклюзивную школу волонтера «Intrue».
            Она представит собой серию тренингов и мастер-классов по работе с инвалидами всех групп.
            По результатам прохождения бесплатного курса участники узнают от специалистов всё об инвалидности и её разновидностях,
            научатся оказывать первую помощь, работать в команде, организовывать мероприятия и, главное,
            принимать и понимать людей с особенностями развития, а также находить с ними общий язык.</p>
        <p>Принять участие в этой программе сможет любой желающий от 14 лет, вне зависимости от того,
            собирается ли он в дальнейшем сотрудничать с проектом и будет ли вообще работать в инклюзивной сфере.
            Для команды важно продемонстрировать, что не следует остерегаться людей с ограниченными возможностями здоровья,
            с ними можно и даже нужно общаться.</p>
        <p>Интенсивны будут проходить по вторникам и пятницам в 18:30 по адресу Мончегорская ул. 10 Б,
            в Центре добрососедства «Дом». В конце обучения, которое продлится с 12 марта по 26 апреля,
            все участники получат сертификаты, свидетельствующие о том, что они прослушали курс лекций об
            инвалидности и ознакомились со спецификой работы в сфере инклюзии.</p>
        <p>Мы вас ждем!</p>
        <p>Есть появились вопросы, звони: +7 (911) 741 0594, координатор проекта Анна Клепикова</p>

        <p>#intrue #движениеэтожизнь #инклюзия #волонтерствоспб</p>

        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/school/desk.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/school/paint.jpg">
        </div>

        <hr style="margin-bottom: 30px; margin-top: 20px">

    </div>
</div>
