<div class="container">
    <div class="site-about">

        <p>Весной  2019 года наша команда запустила новый проект – инклюзивную школу волонтера «Intrue».
           Она представляет собой серию тренингов и мастер-классов по работе с инвалидами всех групп.
           По результатам прохождения бесплатного курса участники узнают  от специалистов всё об инвалидности и её разновидностях,
           учатся оказывать первую помощь, работать в команде, организовывать мероприятия и, главное, принимать и
           понимать людей с особенностями развития, а также находить с ними общий язык.</p>
        <p>В 2020 году курс по обучению технологиям взаимодействия с людьми с ограниченными возможностями здоровья будет проходить:
           «Центр добрососедства «Дом»,
            по адресу: Мончегорская, 10б,
            по понедельникам и средам, с 18.30 до 20.30.</p>
        <p>Принять участие в этой программе может любой желающий от 14 лет, вне зависимости от того, собирается ли он в дальнейшем
           сотрудничать с проектом и будет ли вообще работать в инклюзивной сфере. Для команды важно продемонстрировать, что не следует
           остерегаться людей с ограниченными возможностями здоровья, с ними можно и даже нужно общаться. Все участники по окончанию курса
           получают сертификаты, свидетельствующие о том, что они прослушали курс лекций об инвалидности и ознакомились со спецификой работы
           в сфере инклюзии.</p>
        <p>По набору участников в запуск новой программы информация 
            <a target="_blank"
               href="https://vk.com/event178651615">здесь</a>
        </p>
        <p>Если ты захотел стать частью нашей команды пиши или звони нам! Мы тебя ждем!</p>

        <p>Участие бесплатно! Проект проводится при поддержке …</p>
        <p>Координаторы проекта «Школы инклюзивного волонтерства «Intrue» :
           Анастасия Лосева +7 981 840-76-93,
           Мария Карепова +7 999 216-19-87.
        </p>
        <p>#intrue #движениеэтожизнь #инклюзия #волонтерствоспб</p>

        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/school/desk.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/school/paint.jpg">
        </div>

        <hr style="margin-bottom: 30px; margin-top: 20px">

    </div>
</div>
