<div class="container">
    <div class="site-about">
        <p>
            <!--            Мы добиваемся равных возможностей для детей инвалидов. Мы верим, что скоро наши детки будут танцевать так, что зрители не-->
            <!--            поверят, когда мы скажем, сколько им лет и будут вдвойне ошарашены, когда узнают про инвалидность.-->
            «Как и где себя может реализовать ребенок с особенностями?» Наш проект поможет ответить вам на эти вопросы.
            Посредством занятий по хореографии и выступлений на творческих конкурсах, участия в креативных мастер-классах проекта
            «Движение – это жизнь» ваш ребенок сможет найти себя и адаптироваться в современном обществе.
        </p>

        <img class="movement-image" src="/assets/images/big.jpg">
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/anya_dance.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/guitar.jpg">
        </div>
        <!--        <h3>История</h3>-->
        <!--        <p>-->
        <!--            Идея проекта пришла в далеком 2014-2015 гг., тогда я работала на Зимних Олимпийских играх в г. Сочи, удалось побывать немного и на соревнованиях Паралимпийских,-->
        <!--            на которых я была невероятно и приятно удивлена тому, как люди, грубо говоря, не имея рук и ног, выделывают спортивные трюки. А ведь мы недооцениваем их!-->
        <!--            С такими мыслями я покидала Сочи. Как вернулась в Петербург, долго не оставляли меня эти впечатления. Я начала размышлять на тему того, почему так происходит,-->
        <!--            почему наше общество с неким пренебрежением относится к таким, со своими особенностями, людям, а что происходят с детьми в таком возрасте,-->
        <!--            наверняка им мало кто помогает обрести друзей, подруг и хорошее, доброе окружение, от которого, кстати говоря, многое зависит.-->
        <!--            Мыслями, как вы видите, все это не закончилось. Что умею делать и что делать мне нравится?-->
        <!--        </p>-->

        <!--        <p>-->
        <!--            Ответ был прост, люблю детей и танцевать.-->
        <!--            Что было дальше, рассказывать, думаю, не нужно.  В целом весь проект я делю на два этапа, 1-ый – это 2015, и 2-ой – более серьезный, осознанный 2016-2017 гг.-->
        <!--            На первом этапе мы проводили танцы в Коррекционной школе-интернат «Юкки» Выборгского района. Все тогда прошло достаточно хорошо.-->
        <!--            Но в школе несколько неподходящая аудитория нашего проекта, как мы поняли впоследствии.-->
        <!--            Кстати, запускались мы с поддержкой студенческого конкурса ун. ИТМО «Ты нужен людям» (теперь уже всероссийского), им безмерно благодарны, за обучение и бесценный опыт! -->
        <!--             Проект перестал функционировать 1-1,5 года, и вот, осенью 2016 мы не побоялись и зашли в Центры социальной реабилитации инвалидов и детей-инвалидов города,-->
        <!--            в течение учебного года сотрудничали только с 1-им, это был центр в Калининском районе, после того как апробировали на его базе, осенью 2017 года решили расшириться.-->
        <!--            На данный момент с нами 6 районных центров, и 2 благотворительных фонда. Я бы искренне хотела, чтобы мы росли, стало больше детей, и это бы стало реабилитационной программой на базе своей площадки.-->
        <!--            Верю, что так оно и будет! С помощью команды и добрых людей! -->
        <!--        </p>-->
        <h3>Команда</h3>
        <p>
            Самое важное в любом деле — люди. У нас в команде лучшие люди и теплые, дружеские отношения, не смотря на то,
            что мы очень разные. У нас самые крепкие из всех возможных отношений — бескорыстные.
        </p>
        <div class="marketing" style="padding-top: 20px">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/aliya.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Зиязетдинова Алия Рустамовна</h2>
                            <p>
                                <a href="https://vk.com/id35321229" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/al.spark" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Основатель и руководитель проекта.</p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/anya.jpg" alt="Generic placeholder image" width="140" height="140">
                          
                            <h2>Клепикова Анна</h2>

                            <p>
                                <a href="https://vk.com/anna__kas" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/anna__kas" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Мозговый центр команды по работе с партнерами и участниками проекта.</p>
                        </div><!-- /.col-lg-4 -->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/nadya.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Коханова Надежда Александровна</h2>
                            <p>
                                <a href="https://vk.com/nadezdakokh" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/nk_kokhself/" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Старший тренер. Факелоносец и личный ассистент Томаса Баха на паралимпийских играх в Сочи.</p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/yulya.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Ашухина Юлия Александровна</h2>
                            <p>
                                <a href="https://vk.com/id487760" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/yuli_ashu" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Старший тренер. Совмещает участие в проекте с воспитанием сына, в танцах 10 лет.</p>
                        </div><!-- /.col-lg-4 -->
                    </div>
                </div>

            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/solo.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Солодова Виктория Сергеевна</h2>
                            <p>
                                <a href="https://vk.com/timetolivetimetolove" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/timetolive134" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Smm - специалист, студент факультета журналистики СПбГУ.</p>
                        </div><!-- /.col-lg-4 -->
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/dasha.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Матвеева Дарья Владимировна</h2>
                            <p>
                                <a href="https://vk.com/id29220730" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                            </p>
                            <p>Хореограф в запасе.</p>
                        </div><!-- /.col-lg-4 -->
                    </div>
                </div>
            </div><!-- /.row -->
            <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/solo.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Осипенко Нина Дмитриевна</h2>
                            <p>
                                <a href="https://vk.com/id51675155" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                            </p>
                            <p>Танцовщица/хореограф классических и современных направлений танца.</p>
                        </div><!-- /.col-lg-4 -->
                        
           <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/solo.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Косинская Елена Павловна</h2>
                            <p>
                                <a href="https://vk.com//id180392716" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/l.kosinskaya" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Танцовщица/хореограф современных направлений танца.</p>
                        </div><!-- /.col-lg-4 -->
                        
            <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/solo.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Никитина Мария Дмитриевна</h2>
                            <p>
                                <a href="https://instagram.com/mariy_ni" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Контент-мастер, студент направления дизайна рекламы СПбГУПТД.</p>
                        </div><!-- /.col-lg-4 -->
    
            <div class="col-md-6">
                            <img class="rounded-circle" src="/assets/images/solo.jpg" alt="Generic placeholder image" width="140" height="140">
                            <h2>Емельянова Кристина Игоревна</h2>
                            <p>
                                <a href="https://vk.com//id116406373" target="_blank">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="https://instagram.com/krisemel" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </p>
                            <p>Хореограф классического и народного танца, проводит технику СФД(совершенствование физических данных).</p>
                        </div><!-- /.col-lg-4 -->       
        </div>

        <p>
            Особенно нам требуются танцевальные тренера, но мы будем рады любой помощи от единомышленников. Да и кто знает, может быть,
            в вас умирает великий тренер?
        </p>

        <h3>Миссия</h3>
        <ul>
            <li>
                помощь в социализации детей-инвалидов
            </li>
            <li>трансформация сознания общества о неравноценных возможностях людей с ограниченными возможностями здоровья</li>
            <li>
                формирование инклюзивного образования в области танцевального искусства для детей-инвалидов
            </li>
            <li>
                помощь в реализации творческого потенциала молодежи и детей-инвалидов
            </li>
        </ul>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/staff.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/pair_small.jpg">
        </div>

        <p>
            С первого взгляда, танцевать или  креативить с детьми с особенностями – это сложно, но нашей команде не страшны
            никакие трудности, мы придерживаемся того, что каждый человек может достичь целей и достоин быть успешным!
            В этом заключается наша миссия – помочь реализоваться тем, кто по мнению нашего общества является «неприкосновенным».
        </p>

        <h3>
            Цель
        </h3>
        <p>
            Создание инклюзивных условий для реабилитации и социализации детей и молодежи с ограниченными возможностями здоровья посредством творчества и хореографии,
            включающей телесно-двигательную терапию.
        </p>
        <p>
            Участники нашего проекта – это в первую очередь дети-инвалиды, которые готовы обучаться у наших волонтеров
            танцевальному искусству.
            Помимо всего, в проекте принимают участие родители, для которых мы организуем семейные творческие мастер-классы,
            где мама и ребенок создают что-то своими руками с помощью наших добротворцев!
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/onebaby.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/anya2.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/anya_children.jpg">
        </div>
        <p>
            В данный момент мы планируем составить свою программу реабилитации детей посредством хореографии,
            включающей танцевально-двигательную терапию. В нашем проекте принимают участие дети-инвалиды II и III групп в
            центрах социальной реабилитации инвалидов и детей-инвалидов Красногвардейского, Приморского, Невского, Центрального,
            Калининского,  районов г. Санкт-Петербурга, а также благотворительные организации –
            Даун-центр, фонд по решению проблем людей с аутизмом – «Антон тут рядом».
        </p>
        <p>
            В будущем мы нацелены на открытие своей площадки,
            где будут проходить занятия для детей-инвалидов всего города, вне зависимости от местоположения.
        </p>

        <h3>
            Волонтерам
        </h3>
        <p>
            В нашем проекте «Движение – это жизнь» творческие личности с большими сердцами помогают детям с инвалидностью
            стать лучше, реализовать свой потенциал и помогают осваивать танцевальное искусство. Наши танцоры, хореографы и
            другие волонтеры – волонтеры с самой широкой и доброй душой!
        </p>
        <p>
            Мы хотим, чтобы в нашей команде были люди, которые готовы делиться своим опытом и хотят прокачивать свои
            организаторские и творческие способности, поэтому:
        </p>
        <p>
            Если ты хочешь быть полезным и давно ищешь теплую компанию, в нашей  — тебе всегда найдут занятие по душе! 
            Приходи, будем рады тебе!
        </p>

        <h3 id="contact">
            Контакты
        </h3>

        <ul class="without-bullet">
            <li>
                <a href="mailto:inclusive.d@yandex.ru">
                    <i class="fa fa-envelope"></i> inclusive.d@yandex.ru
                </a>
            </li>
            <li>
                <i class="fa fa-phone"></i> ‭+7(911)761-71-15‬
            </li>
            <li>
                <a href="https://vk.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-vk"></i> dvij_zhizn
                </a>
            </li>
            <li>
                <a href="https://instagram.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-instagram"></i> dvij_zhizn
                </a>
            </li>
        </ul>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/team.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/inclusive.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/team2.jpg">
        </div>


        <h3>
            Родителям
        </h3>
        <p>
            Проект «Движение – это жизнь» является социальным направлением в хореографии, как способа реабилитации и адаптации детей и
            молодежи с ограниченными возможностями здоровья. Основная идея заключается в том, что команда проекта помогает осуществить реабилитацию
            посредством творчества, танцевального искусства. Самое главное, все участники нашего проекта реализуют свой творческий потенциал и 
            выступают на сцене, участвуют в конкурсах и фестивалях.

        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/parents.jpg">
        </div>
        <p>
            Хочется отметить, что особым значением для проекта является развитие инклюзии в области танцевального искусства. 
            Для занятий с детьми и молодежью с инвалидностью II и III групп в центрах социальной реабилитации, в танцевальных студиях 
            привлекаются молодые танцоры и хореографы. Танцевальные занятия, включающие двигательную терапию, способствуют социализации и 
            реабилитации детей и молодежи с ограниченными возможностями здоровья,  развитию у них навыков самообслуживания в повседневной жизни. 
            А наши хореографы всегда работают над координацией и баланса тела, внутренний гармонии ребенка, обучают их умениям 
            управлять своим телом и развивают креативные способности. 
        </p>
        <p>
            Ждем вас на наших занятиях!
            <li>
                <a href="https://vk.com/dvij_zhizn" target="_blank">
                    <i class="fa fa-vk"></i> dvij_zhizn
                </a>
            </li>
        </p>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/pair_dance.jpg">
        </div>
        <div class="center-image-container">
            <img class="movement-image" src="/assets/images/moveislife.jpg">
        </div>


        <hr style="margin-bottom: 30px; margin-top: 20px">
    </div>
</div>
