<div class="site-index">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/assets/images/carousel_move.jpg')">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Движение — это жизнь</h1>
                        <p>Танцы для детей с инвалидностью</p>
                        <p><a class="btn btn-lg btn-primary" routerLink="movement" role="button">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/assets/images/carousel_news.jpg')">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Новости</h1>
                        <p>Пишем с душой об успехах</p>
                        <p><a class="btn btn-lg btn-primary" routerLink="news" role="button">Подробнее</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('/assets/images/school/main.jpg')">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Школа Intrue</h1>
                        <p>Учим инклюзивному добру</p>
                        <p>
                            <a
                                class="btn btn-lg btn-primary"
                                routerLink="school"
                                role="button">Подробнее</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
