/* You can add global styles to this file, and also import other style files */
@import "assets/scss/bootstrap.scss";
@import "assets/carousel.css";
@import "assets/full-slider.css";
@import "assets/site.css";

.movement-image {
    width: 100%;
}

.center-image-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-image-container {
    @media (min-width: 600px) {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.navbar {
    margin-bottom: 20px;
}

.navbar-light {
    .navbar-nav {
        .navbar-brand {
            img {
                margin-bottom: 3px;
            }
        }
        .nav-link {
            color: black !important;

            &:hover {
                color: black !important;
                text-decoration: underline;
            }
        }

        .active {
            text-decoration: underline;
        }
    }
}

.without-bullet {
    list-style: none;
}
